body {
  font-family: Arial, sans-serif;
}


h1 {
  color: red;
}


table {
  width: 60%;
  border-collapse: collapse;
  margin-bottom: 20px;
}


td:first-child {
  width: 40%;
  text-align: right;
  vertical-align: top;
  padding: 4px;
}


input[type="text"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
  border: 1px solid blue;
  box-shadow: 0 0 4px blue;
}
select option{
    background-color: blue;
    color:white;
}


select {
    
  width: 93%;
}


p:last-of-type {
  font-size: 12px;
  margin-top: 20px;
}

button {
  margin-right: 10px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



button[type="submit"] {
  background-color: green;
  color: white;
}


button[type="reset"] {
  background-color: lightgray;
  color: black;
}
